*{
    padding:0;
    margin:0 auto;
}
html,body{
    height:100%;
    width: 100%;
    background: #f5fdd1;
}
.top{
    width:100%;
    height:34px;
    background-image: url(../img/toubu.png);

}
.banner{
    height:275px;
    width:1000px;
    background-image: url(../img/banner.png);

}
.a{
    height:56px;
    width:1000px;
    background-image:url(../img/lvdaohang.png);
    border-bottom: #ff8301 5px solid;
}
.b{
    height:56px;
    width:135px;
    font-size:22px;
    font-family:"黑体";
    color:#fff;
    line-height:56px;
    text-align:center;
    float:left;
}
.c{
    height:56px;
    width:240px;
    font-size:22px;
    font-family:"黑体";
    color:#fff;
    line-height:56px;
    text-align:center;
    float:left;
}
.d{
    height:56px;
    width:215px;
    font-size:22px;
    font-family:"黑体";
    color:#fff;
    line-height:56px;
    text-align:center;
    float:left;

}
.e{
    height:56px;
    width:210px;
    font-size:22px;
    font-family:"黑体";
    color:#fff;
    line-height:56px;
    text-align:center;
    float:left;
}
.f{
    height:56px;
    width:200px;
    font-size:22px;
    font-family:"黑体";
    color:#fff;
    line-height:56px;
    text-align:center;
    float:left;
}
.b:hover{background-image:url("../img/c.png");}
.c:hover{background-image:url("../img/c.png");}
.d:hover{background-image:url("../img/c.png");}
.e:hover{background-image:url("../img/c.png");}
.f:hover{background-image:url("../img/c.png");}
.con1{
    height:600px;
    width:1000px;
    margin: 20px auto 0 auto;
}
.left1{
    height:600px;
    width:705px;
    float:left;
}

.right1{
    height:600px;
    width:280px;
    float:right;
    background:white;
    border: 1px #e4e4e4 solid;
}
.g{
    height:520px;
    width:705px;
    border: 1px #e4e4e4 solid;
    background:white;
}
.h{
    height:40px;
    width:705px;
    border-bottom: 2px #4d8e0b solid;
}
.j{
    height:40px;
    width:190px;
    color:white;
    background-image:url(../img/2.png);
    font-size:22px;
    text-align:center;
    font-family:"微软雅黑";
    float:left;
    line-height:40px;
}
.k{
    height:40px;
    color:black;
    font-family:"宋体";
    font-size:12px;
    line-height:40px;
    text-align:center;
    float:left;

}
.l{
    height:40px;
    float:right;
    margin-right:15px;
}
.i{
    height:62px;
    width:705px;
    border: 1px #e4e4e4 solid;
    margin-top:18px;

}
.m{
    height:425px;
    width:265px;
    border-right:10px #f2f2f2 solid;
    border-left:10px #f2f2f2 solid;
    border-top:10px #f2f2f2 solid;
    border-bottom:5px #f2f2f2 solid;

    margin: 30px 15px 15px 15px;
    float:left;


}
.m img{
    margin-top:0;
}
.n{
    width:265px;
    height:40px;
    font-size:14px;
    text-align:center;
    line-height:40px;
    font-family:"微软雅黑"；

}
.o{
    width:245px;
    height:60px;
    text-indent: 24px;
    font-size:12px;
    line-height:20px;
    margin-left:10px;
    margin-top:0px;
    font-family:"宋体";

}
.p{
    width:360px;
    height:425px;
    float:right;
    margin: 30px 15px 15px 15px;

}
.q{
    width:360px;
    height:110px;
}
.q img{
    float:left;
    border:1px #e4e4e4 solid;
}
.r{
    height:110px;
    width:225px;
    float:right;
}
.s{
    height:24px;
    width:225px;
    font-family:"宋体";
    font-size:14px;
    line-height:24px;
    float:left;
}
.t{
    height:70px;
    width:225px;
    color:#a5a5a5;
    font-size:12px;
    float:left;
    line-height:23px;
    font-family:"宋体"；
}
.u{
    height:85px;
    width:360px;
    font-size:12px;
    font-family:"宋体";
    margin-top:10px;
    margin-left: 20px;
}
ul{
    float:left;
}
li{
    line-height:27px;
}
.aa{
    height:40px;
    width:260px;
    color:#ff8600;
    font-size:20px;
    line-height:40px;
    font-family:"微软雅黑"；
}
.bb{
    height:95px;
    width:280px;
    background:#f8f8f6;
}
.kk{
     height:95px;
    width:280px;

}
.ll{
    width:280px;
    height:50px;
    color:black;
    font-size:12px;
    line-height:50px;

    font-family:"宋体"；
}
.mm{
     width:280px;
    height:50px;
    color:black;
    font-size:12px;
    line-height:50px;
    background:#f8f8f6;
    font-family:"宋体"；
}
.nn{
    width:280px;
    height:25px;
    float:right;
    color:white;
    font-size:12px;
    background:#f8f8f6;
    line-height:25px;
}
.oo{
    width:30px;
    height:25px;
    margin-left:20px;
    text-align:center;
    background:#8b8b89;

}
.bb img{
    margin:11px auto 12px 12px;
}
.cc{
    height:72px;
    width:154px;
    margin-right:30px;
    margin-top: 11px;
    float: right;
}
.dd{
    height:18px;
    width:35px;
    color:white;
    background:#5daf09;
    font-size:12px;
    line-height:18px;
    text-align:center;
    float:left;
    font-family:"微软雅黑"；
}
.ee{
    width:154px;
    height:18px;
    color:black;
    font-family:"宋体";
    font-size:12px;
    text-align:left;
    float:left;
    line-height:18px;
}
.ff{
     width:154px;
    height:18px;
    line-height:18px;
    font-size:12px;
    font-family:"宋体"；
}
.gg{
    width:60px;
    height:18px;
    color:#979797;
    float:left;
}
.ii{
    height:18px;
    color:#d19e02;
    float:left;
}
.hh{
     width:154px;
    height:18px;
    line-height:18px;
    font-size:12px;
    font-family:"宋体"；
}
.jj{
    height:18px;
    color:#ff0060;
    float:left;
}
.con2{
    height:520px;
    width:1000px;
    margin: 15px auto 0 auto;
}
.left2{
    height:520px;
    width:705px;
    border: 1px #e4e4e4 solid;
    background:white;
    float:left;
}

.right2{
    height:520px;
    width:280px;
    float:right;
    background:white;
    border: 1px #e4e4e4 solid;
}
.pp{
    height:480px;
    width:280px;
    background:#f6f6f6;
}
.qq{
    height:460px;
    width:250px;
    float:left;
    margin:10px 15px;
    border:1px #e4e4e4 solid;
    background:white;
}
.rr{
    width:230px;
    height:25px;
    color:white;
    line-height:25px;
    background:#64b80b;
    font-size:13px;
    font-family:"宋体";
    text-indent:13px;
    margin-top: 20px;
}
.ss{
    width:230px;
    height:145px;
}
.ss img{
    margin:20px 7px 15px 7px;
}
.tt{
    width:230px;
    height:25px;
    color:white;
    line-height:25px;
    background:#ff8600;
    font-size:13px;
    font-family:"宋体";
    text-indent:13px;
}
.uu{
    width:230px;
    height:180px;
    margin-top:15px;
}
.xx{
    height:20px;
    width:70px;
    color:white;
    background:#90daff;
    font-size:12px;
    line-height:20px;
    text-align:center;
    margin-top: 10px;
    font-family:"宋体"；

}
.con3{
    height:420px;
    width:1000px;
    margin:15px auto 0 auto;
    background:white;
    border:1px #e4e4e4 solid;

}
.aaa{
    height:70px;
    width:1000px;
    line-height:70px;
}
.bbb{
    height:50px;
    width:185px;
    margin:10px;
    float:left;
}
.ccc{
    height:30px;
    width:185px;
    color:#ff8501;
    font-size:25px;
    line-height:30px;
    text-align:center;
    font-family:"宋体"；
}
.ddd{
    height:20px;
    width:185px;
    font-size:10px;
    line-height:20px;
    color:white;
    background:#ff8501;
    text-align:center;
    font-family:"宋体"；
}
.eee{
    height:50px;
    width:740px;
    line-height:25px;
    margin:10px 40px 10px 10px;
    color:#888888;
    font-size:14px;
    float:right;
}
.fff{
    width:940px;
    height:320px;
    margin:10px 30px 20px 30px;

}
fieldset{
    width:210px;
    height:310px;
    float:left;
    margin:0 10px;
}
.ggg{
    width:180px;
    height:30px;
    color:black;
    line-height:30px;
    font-size:14px;
    font-family:"宋体"；
}
.fff img{
    margin-left: 20px;
    margin-top:5px;
}
.hhh{
    width:170px;
    height:80px;
    line-height:20px;
    font-size:12px;
    color:#727272;

    font-family:"宋体"；

}
.iii{
    margin-right: 20px;
    margin-top:10px;
    float:right;
    color:black;
    font-size:12px;
}
.con4{
    width:1000px;
    height:860px;
    margin:15px auto 0 auto;
    border:1px #e4e4e4 solid;
    background:white;
}
.jjj{
    width:1000px;
    height:60px;
    border-bottom:1px  #e4e4e4 solid;
}
.kkk{
    height:48px;
    width:100px;
    margin:10px 0 0 20px;
    font-size:48px;
    line-height:48px;
    color:#ff6f00;
    font-family:Impact;
    float:left;
}
.lll{
    height:48px;
    width:170px;
    margin-top:10px;
    float:left;
}
.mmm{
    height:18px;
    width:170px;
    font-size:14px;
    line-height:18px;
    font-family:Arial;
}
.nnn{
    height:30px;
    width:170px;
    font-size:24px;
    line-height:30px;
    color:#ff6f00;
    font-family:"微软雅黑"；
}
.ooo{
    width:670px;
    height:48px;
    margin-top:10px;
    margin-right:30px;
    font-size:14px;
    font-family:"宋体";
    float:right;
    line-height:20px;
}
.ppp{
    width:1000px;
    height:400px;
}
.rrr{
    height:380px;
    width:220px;
    margin:10px 10px 10px 20px;
    float:left;

}
.rrr img{
    margin:10px;
}
.ttt{
    height:20px;
    width:220px;
    color:#7d9818;
    margin-left:20px;
    line-height:20px;
    font-size:14px;
    font-family:"微软雅黑"；
}
.uuu{
    height:20px;
    width:220px;
    color:#b5b5b5;
    margin-left:20px;
    line-height:20px;
    font-size:12px;
    font-family:"宋体"；
}
.vvv{
    height:30px;
    width:220px;
    color:black;
    margin-left:20px;
    line-height:30px;
    font-size:20px;
    font-family:"宋体"；
}
.www{
    height:40px;
    width:100px;
    line-height:40px;
    color:black;
    background:#f4f4f4;
    font-size:20px;
    text-align: center;
    font-family:"宋体";
    boeder:1px #d7d7d7 solid;
    margin-left:60px;
    margin-bottom: 10px;
    float: left;
}
.rrr:hover{
    background:#f1f1f1;
}